<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>KiriLivros</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">Home</a>
        </div>
        <div class="navbar-nav">
            <a href="#" class="nav-link">Novo</a>
        </div>
    </nav>
    <div class="card" th:each="produto : ${produtos}">
        <div class="card-header" th:text="${produto.nome}">Nome do Produto</div>
        <div class="card-body row">
            <div class="col-12 col-md-8rodizip mb-3">
                <div th:text="${produto.autor}">Autor</div>
                <div th:text="${#numbers.formatDecimal(produto.preco, 3, 'POINT', 2, 'COMMA')}">Preço</div>
                <div th:text="${produto.url}">Url</div>
                <div th:text="${produto.sinopse}">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
            </div>
            <div class="col-12 col-md-4">
                <div>
                    <img class="img-thumbnail" th:src="${produto.imagem}" src=""/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
